body {
    background-color: whitesmoke;
    font-family: 'Josefin Sans';
    margin: auto;
    text-align: center;
}

#bloc_page {
    width: 60%;
    margin: auto;
}
div {
    text-align: center;
}

p {
    text-align: left;
    margin-left: 50px;
}

p img {
    position: relative;
    top : 5px;
}