#chrono {
    border: black 2px dashed;
    padding: 0.3em 1.7em;
    display: table-cell;
    font-size: 1.3em;
    position: relative;
    left : 15px;
}
body {
    width: 100%;
    background-color: #F5F5F5;
}
h1 {
    margin-top: 2px;
    font-size: 2.3em;
    text-align: center;
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: #E6E6E6;
}
.nav-link {
    color: #0b648f;
}

.active {
    font-weight: bolder;
    font-style: oblique;
    color: #e21737;
}
.badge-secondary {
    background-color: #0b648f;
    color: #fdbb30;
    position: relative;
    bottom: 2px;
}

.btn-primary {
    background-color: #0b648f;
    border: #e21737 solid 0;
}

.btn-primary:hover {
    background-color: #0b648f;
}

.modal-body {
    text-align: center;
}

.modal-body em {
    color: #e21737;
    font-weight: bold;
}

.modal-dialog {
    background-color: whitesmoke;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    width: 10em;
    display: inline-block;
    text-align: center;
    margin-bottom: 15px;
}
#jeu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#grilleDem {
    text-align: center;
}

#drapeau {
    margin-bottom: 10px;
}

#infoGrille {
    margin-left: 15px;
    text-align: center;
    position: relative;
    top : 100px;
}

*{
    font-family: 'Rubik', sans-serif;
}

.regles {
    text-align: center;

}
.regles #bloc_page {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}